.transaction-row {
  cursor: pointer;
}

.transaction-row:hover {
  background-color: #f8f9fa;
}

table tbody tr.selected-row {
  background-color: #e2e6ea !important;
}

table tbody tr.selected-row:hover {
  background-color: #c9c9c9 !important;
}