@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 345 15% 15%;

    --card: 0 0% 100%;
    --card-foreground: 345 15% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 345 15% 15%;

    --primary: 345 60% 25%;
    --primary-foreground: 36 33% 97%;

    --secondary: 36 33% 90%;
    --secondary-foreground: 345 15% 15%;

    --muted: 36 10% 90%;
    --muted-foreground: 345 5% 45%;

    --accent: 345 30% 90%;
    --accent-foreground: 345 60% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 36 33% 97%;

    --border: 36 20% 85%;
    --input: 36 20% 85%;
    --ring: 345 60% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 345 15% 15%;
    --foreground: 36 33% 97%;

    --card: 345 15% 10%;
    --card-foreground: 36 33% 97%;

    --popover: 345 15% 10%;
    --popover-foreground: 36 33% 97%;

    --primary: 345 50% 40%;
    --primary-foreground: 36 33% 97%;

    --secondary: 345 15% 25%;
    --secondary-foreground: 36 33% 97%;

    --muted: 345 15% 25%;
    --muted-foreground: 36 20% 80%;

    --accent: 345 15% 25%;
    --accent-foreground: 36 33% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 33% 97%;

    --border: 345 15% 30%;
    --input: 345 15% 30%;
    --ring: 345 50% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
